<% provide(:title, "Help") %>



    <h1>AVH 1</h1>
    <ol>
    <li>Use game mail to 
        <a href="http://www.avirtualhorse.com/player-details/99509">Pirate Princess</a> for any problems on this site.</li>
    
    <li> If you are level 50 or higher please ask a mod to make you a trusty to enable you to access more. </li>
    </ol>