

 <%= link_to "AVH Rules", "http://www.avirtualhorse.com/rules.html", :target => "_blank" %>

<h2> When in doubt or ambiguity, AVH rules can not be overwritten and always apply.
Additional rules for the way the competition is run are in addition to AVH rules not
replacement thereof.</h2><br/>
<%= render @comp.rules %>