
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
<strong>Commment by:</strong>
<%= comment.user.try(:player) %>


<p>
  <%= link_to image_tag("ic_delete_forever_black_24dp.png"), [comment.board, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>