<% provide(:title, 'New showrun entry') %>
<% provide(:button_text, 'Create a showrun entry') %>




<% if @showrun.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@showrun.errors.count, "error") %> prohibited
      this comment from being saved:
    </h2>
    <ul>
      <% @showrun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render partial: 'form', showrun: @showrun %>