
<table>

    <tr> <td><%= story.user.try(:player) %></td>
        <td><%= link_to (story.title), comp_story_path(@comp, story) %></td>
        <td><%= link_to image_tag("ic_settings_black_24dp.png"), edit_comp_story_path(story.comp, story) %></td>
        <td><%= link_to image_tag("ic_delete_forever.png"), [story.comp, story], method: :delete, 
                                                        data: {confirm: 'Are you sure?'} %></td>
      
     
    </tr>
</table>