<p id="notice"><%= notice %></p>

<h2>
  <strong>Title:</strong>
  <%= @story.title %>
</h2>



<br/>

<p>
  <strong>The story:</strong>
  <%= @story.text %>
</p>





<%= link_to 'Back', comps_path(@comp) %>
