
<h1>Listing Mod board posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>mod id</th>
  </tr>

  <% @boards.each do |board| %>
    <tr>
      <td><%= link_to "#{ board.title}" , board_path(board) %>|</td> 
      <td><%= link_to board.user_id %> |</td> 
      
     
      <td> <%= link_to "delete", board, method: :delete,
data: { confirm: "You sure?" } %></td>
      
    </tr>
  <% end %>
</table>
 <p><%= link_to 'new', new_board_path  %> </p>